$color-text: #999;
$color-title: #333;
$color-text-w: #fff;
$color-red: #d9203d;
$color-gray: #2a2a2a;

$color-bg-black: #2a2a2a;
$color-bg-light: #f0f0f3;
 
//$tablet-widths: ~"(max-width: 1230px)";/* */
//$mobil-widths: ~"(max-width: 767px)";/* */

//$desktop-widths-only: ~"(min-width: 1230px)"; /* */

$height-footer: 270px;
$height-footer-mobil: 350px;
$nav-min-height: 140px;
$nav-min-height-mobil: 100px;
$nav-min-height-scroll: 132px;
